<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li>
        <a href="www.google.com">CSS</a>
      </li>
      <li>
        <a href="www.google.com">HTML</a>
      </li>
      <li>
        <a href="www.google.com">Javascript</a>
      </li>
      <li>
        <a href="www.google.com">Ruby</a>
      </li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" class="logo" alt="">

  <nav class="masthead-links">
    <ul>
      <li>
        <time>Tuesday, October 18, 2016</time>
      </li>
      <li>
        <button class="button_underline" type="button" name="button">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          Today’s Paper
        </button>
      </li>
      <li>
        <button class="button_underline" type="button" name="button">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          Video
        </button>
      </li>
      <li>
        <button class="button_gray" type="button" name="button">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          77°F
        </button>
      </li>
      <li>
        <button class="button_gray" type="button" name="button">AAO
          <strong>+100%
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
          </strong>
        </button>
      </li>
    </ul>
  </nav>
</header>
