<!-- CSS
HTML
Javascript
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% -->

<header class="masthead">
  <nav class="language-nav">
    <a href="#"></a>
    <ul>
      <li>
        <a href="www.google.com">CSS</a>
      </li>
      <li>
        <a href="www.google.com">HTML</a>
      </li>
      <li>
        <a href="www.google.com">Javascript</a>
      </li>
      <li>
        <a href="www.google.com">Ruby</a>
      </li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" class="logo" alt="">

  <nav class="masthead-links">
    <ul>
      <li>
        <time>Tuesday, October 18, 2016</time>
      </li>
      <li>
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <button type="button" name="button">Today’s Paper</button>
      </li>
      <li>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <button type="button" name="button">Video</button>
      </li>
      <li>
        <i class="fa fa-sun-o" aria-hidden="true"></i>
        <button type="button" name="button">77°F</button>
      </li>
      <li>
        <button type="button" name="button">AAO
          <strong>+100%
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
          </strong>
        </button>
      </li>
    </ul>
  </nav>
</header>
