// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown ul > li {
  margin: 5px;
}
.gear-dropdown {
  position: absolute;
  top: 36px;
  right: -5px;
  border: 1px solid $gray;
  width: 200px;
  z-index: 100;
  padding: 5px;
  background-color: white;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.gear-dropdown ul li, span {
  position: relative;
  padding: 5px;
  font-size: 12px;
  font-family: $sans-serif;
}

.dropdown-subtitle {
  font-weight: bold;
}

.gear-dropdown .help > li:hover {
  color: $blue;
}
.gear-dropdown .editions > li:hover {
  background-color: $light-gray;
  cursor: pointer;
}

.gear-dropdown .editions a:hover {
  text-decoration: none;
}
